<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- CSS Bootstrap style sheet -->
		<link rel="stylesheet" href= "{{ url_for('static',filename='styles/index.css') }}">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

		<meta charset="UTF-8">
		<title>About Us</title>
	</head>

	<body>
		<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
			<div class="item">
				<img src="https://static.getjar.com/icon-50x50/60/811759_thm.png">
			</div>
		  <a class="navbar-brand" href="#">Corvo Databasers</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">

					<li class="nav-item">
						<a class="nav-link" href="homepage.html">Home</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="Search.html">Search</a>
					</li>


		      <li class="nav-item">
		        <a class="nav-link" href="aboutUs.html">About Us</a>
		      </li>

					<li class="nav-item">
						<a class="nav-link" href="https://en.wikipedia.org/wiki/List_of_National_Basketball_Association_players_(W%E2%80%93Z)">NBA Players</a>
					</li>

		    </ul>
		  
		  </div>
		</nav>



		<div id="banner">
			<img src="https://i.imgur.com/z92hRh6.png">
			<div class="container jumbotron" style="background-color: black; color: white; margin: 50px;">
            <div>
                <div class="text-center"></div>
                <h1 class="display-4">About Us</h1>
                <br>
                <p class="text-center">
                Hello! We are the Corvo databasers. Our goal with this project was to create a comprehensive comparison of past and present NBA players. This database was scraped using beautifulsoup and wikipedia. The data could be cleaner, but we did our best to show a graphical representation of important career statistics for every player that is or was in the NBA. We hope you enjoy!
                </p>
            </div>
        	</div>
		</div>





	</body>

	<footer>
			<p>© 2018 CorvoDatabasers</p>
	</footer>

</html>
