<!DOCTYPE html>
<html>
	<head>


		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- CSS Bootstrap style sheet -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href= "index.css">

		<meta charset="UTF-8">
		<link rel="stylesheet" href= "{{ url_for('static',filename='styles/main.css') }}">
		<title>Welcome to the sample!!</title>
	</head>
	<!--https://getbootstrap.com/docs/4.0/components/navbar/-->
	<body>
		<!--
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		  <ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="homepage.html">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="https://en.wikipedia.org/wiki/List_of_National_Basketball_Association_players_(W%E2%80%93Z)">NBA Players</a>
				</li>
		    <li class="nav-item active">
		      <a class="nav-link" href="Search.html">Search</a>
		    </li>
		    <li class="nav-item">
		      <a class="nav-link" href="#">About Us</a>
		    </li>
		  </ul>
		</nav>
		-->

		<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
			<div class="item">
				<img src="https://static.getjar.com/icon-50x50/60/811759_thm.png">
			</div>
		  <a class="navbar-brand" href="#">Corvo Databasers</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">

					<li class="nav-item">
						<a class="nav-link" href="homepage.html">Home</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="Search.html">Search</a>
					</li>


		      <li class="nav-item">
		        <a class="nav-link" href="aboutUs.html">About Us</a>
		      </li>

					<li class="nav-item">
						<a class="nav-link" href="https://en.wikipedia.org/wiki/List_of_National_Basketball_Association_players_(W%E2%80%93Z)">NBA Players</a>
					</li>

		    </ul>
		    <form class="form-inline my-2 my-lg-0">
		      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
		      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		    </form>
		  </div>
		</nav>

	<form method="get">
		<label class="container">Player Name
		  <input type="checkbox" name="Name">
		  <span class="checkmark"></span>
		</label>

		<label class="container">Team
		  <input type="checkbox" name="Team">
		  <span class="checkmark"></span>
		</label>

		<label class="container">Year
		  <input type="checkbox" name="Year">
		  <span class="checkmark"></span>
		</label>
	</form>

		<form method="get" action="{{ url_for('results') }}">
			<label for="searchterm">What do you want to search for:</label>
			<input type="text" name="searchterm" /><br />

			<input type="submit" value="Search" />
		</form>

		<a href="/my-link/">Hello World</a>
	</body>
</html>
